# Prerequisites
*.d

#configuration files
*.cfg

# Object files
*.o
*.ko
*.obj
*.elf

#dumps
*.vcd
*.xml

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.bak

# Quartus files
*.qsf
*.pdf
*.xlsx
*.qpf
*.qsf.bak
*.v.bak
*.code-workspace
*.wlf

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#folders
riscV_processor
tests
deprecated
work
bin
include
lib
lib64
sim_build
__pycache__